:root{
    --main-black:rgb(17, 26, 32);
    --main-white: #fff;
    --zain:zain;
    --quantity--:10;
    --animate-width--:150px;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
*{
    margin: 0;
    padding:0;
    -webkit-user-select: none;
     user-select: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--main-white);

}
::-webkit-scrollbar-thumb {
  background-color: rgb(61, 152, 255);
  border-radius: 5px; 
  transition: 500ms;
}

/* full screen show */

  
.screen-cover{
    width: 100dvw;
    height: 120dvh;
    background-color:var(--main-white);
    color:rgb(61, 152, 255);
    position:sticky;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 1s;
    z-index: 50;
}
*{
    -webkit-user-select:none;
    user-select:none;
     font-family: var(--zain);
}
.font{
  font-size: .8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.full-text{
  position: relative;
  color: var(--main-black);
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.full-btn{
background-color: rgb(61, 152, 255);
color: var(--main-white);
border-radius: 5px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.full-btn p{
z-index: 3;
}
.line{
    width: 250px;
    height: 5px;
    background-color:var(--main-white);
    border-radius:5px ;
    border: .5px solid var(--main-black);
    position: relative;
    overflow: hidden;
}
.line-btn-fill{
width: 0;
height: 100%;
align-self: flex-start;
background:rgb(61, 152, 255);
position: absolute;
left: 0;
z-index: 2;
display: flex;
align-items: center;
justify-content: center;
animation: pointer 4s forwards linear;
}
@keyframes pointer {
    0%{
      
    }
    100%{
     width: 100%;
    }
    
}

/* responsiveness start */
a{
    cursor:pointer  !important;
}

@media screen and (min-width:1200px){
      
      
.screen-cover{
    width: 100dvw;
    height: 120dvh;

}
    
    .font{
  font-size: 1.5rem;
  font-family: var(--zain);
  font-weight: 700;
}
.full-text{
  width: 440px;
  height: 500px;
}
.ful-screen-logo{
    position: absolute;
    top: calc(-10% - 80px);
    left: 50%;
    width: 150px;
    height: 100px;
}
.ful-screen-logo img{
width: 100%;
height: 100%;
}

.full-btn{
  width: 440px;
  cursor: pointer;
}
.full-btn p{
z-index: 3;
}
.line{
    width: 440px;
}
@keyframes pointer {
    0%{
      
    }
    100%{
     width: 100%;
    }
    
}
    
}


/* responsiveness end */

/* full screen end */


.hawia{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    ;
}


/* drop down menue start */
.drop-down{
    grid-area: drop;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 250px;
    top: 5%;
    left:90%;
    transform: translate(-90% ,-5%);
    background-color: rgb(61, 152, 255);
    box-shadow: 0px 0px 5px rgb(61, 152, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    z-index: 5;
}
.d1,.d2,.d3{
width: 5px;
height: 5px;
border-radius: 50%;
background-color: var(--main-white);
}
.menu-cont{
display: none;
position: absolute;
top: 0;
left: 0;
min-width: 100vw;
min-height: 100vh;
background-color: rgba(118, 202, 235, 0.386);
-webkit-backdrop-filter: blur(3px);
backdrop-filter: blur(5px);
z-index: 10;
}
.menu-cont-fill{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0%;
    left: 0%;
    background-color: transparent;
    z-index: 5;

}
.menu-exit{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 250px;
    top: 5%;
    left:90%;
    transform: translate(-90%,-5%);
    background-color: rgb(19,84,122);
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu-exit img{
    width: 50%;
    height:50%;
}
.menu{
position: absolute;
top: 22%;
left: 50%;
transform: translate(-50%,-10%);
width: 300px;
height: 550px;
background-color: azure;
box-shadow: 0px 0px 10px rgba(17, 26, 32, 0.255);
border-radius: 90px;
z-index: 7;
display: grid;
overflow: hidden;
}
.log{
height:140px;
width: 100%;
background-color: rgb(19,84,122);
display: flex;
align-items: center;
justify-content: center;
}
.log img{
width: 150px;
height: 80px ;
}
.share::-webkit-scrollbar{
max-height: 10px;
}
.share{
width: 100%;
height:310px;
background-color: var(--main-white);
position: relative;
display: flex;
align-items: center;
justify-content: space-around;
overflow-x: scroll;
overflow-y: hidden;
margin: 0;
padding: 0;
}
.share-hed{
    position: absolute;
    top:29.5%;
    left: 50%;
    font-weight: 900;
    font-family: zain;
    z-index: 9;
    color: rgb(19,84,122);
    text-shadow:0px 0px 1px rgb(19,84,122);
    transform: translate(-50%,-7%);
    font-size: .9rem;
}
.share .swip{
    
    min-width: 150px;
    height:150px;
    border-radius: 20px;
    background-color: var(--main-white);
    box-shadow: 10px 10px 10px rgba(183, 180, 184, 0.392);
    overflow: hidden;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.swip-card{
    width: 100%;
    height: 50%;
    padding: 5px;
    box-sizing: border-box;
}
.swip-card img{
    width: 100%;
    height: 100%;
}
.swip-info{
width: 50%;
height: 50%;
 font-size: .8rem;
 font-family: zain;
 font-weight: 600;
display:flex;
align-items:center;
justify-content:center;
}
.share-tiktok-btn,.share-whats-btn,.share-maps-btn,.share-snap-btn{
display: flex;
align-items: center;
justify-content: center;
}
.share-snap-btn{
    background-color: yellow;
 width: 80px;
 height: 30px;
 color: var(--main-white);
 border-radius: 20px;
 padding: 5px;
 text-decoration: none;
 text-shadow: 0px 0px 3px rgb(201, 203, 205);
}
.share-whats-btn{
    background-color:lightseagreen;
 width: 80px;
 height: 30px;
 color: var(--main-white);
 border-radius: 20px;
 padding: 5px;
 text-decoration: none;
 text-shadow: 0px 0px 3px var(--main-white);
}
.share-tiktok-btn{
 background-color:rgb(19,84,122);
 width: 80px;
 height: 30px;
 color: var(--main-white);
 border-radius: 20px;
 padding: 5px;
 text-decoration: none;
 text-shadow: 0px 0px 3px var(--main-white);
}
.share-maps-btn{
   background-color:rgb(224, 79, 108);
 width: 80px;
 height: 30px;
 color: var(--main-white);
 border-radius: 20px;
 padding: 5px;
 text-decoration: none;
 text-shadow: 0px 0px 3px var(--main-white);
}
.developer{
width: 100%;
height:100px;
background-color: rgb(19,84,122);
display: flex;
align-items: center;
justify-content: center;
}
.developer a{
    
color: var(--main-white);
text-shadow: 0px 0px 2px var(--main-white);
font-size: 1rem;
font-weight: 800;
max-width: 300px;
text-align: center;
letter-spacing: 1px;
line-height: 1.5rem;
font-family: system-ui;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
font-family: zain;
border-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
width: 120px;
height: 60px;
}



/* drop down menue start */




.hed{
grid-area: hed;
margin-top: 50px;
background-color: var(--main-white);
padding: 1rem;
}
.logo{
    width: 100%;
    height: 150px;
    background-color: var(--main-white);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo img{
    width: 150px;
    height: 100px;
}
.hed-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hed-info p{
color: var(--main-black);
font-size: 1rem;
max-width: 300px;
text-align: center;
line-height: 2rem;
font-weight: 800;
font-family: zain;
margin: 2rem 0;
}

.hed-info a{
color: var(--main-white);
font-size: 1rem;
max-width: 300px;
text-align: center;
font-weight: 800;
line-height: 2rem;
font-family: zain;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;
width: 170px;
height: 60px;
background-color: rgb(61, 152, 255);
margin: 1rem;
}

/* responsiveness */
@media screen and (min-width:1200px){
    .hawia{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    ;
}
.drop-down{
    width: 60px;
    height: 60px;
}
.hed{
display: flex;
align-items: center;
justify-content: center;
}
.hed-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height: 150px;
    
}
.logo img{
    width: 250px;
    height: 150px;
}
.hed-info p{
font-size: 1.5rem;
line-height: 4rem;
font-weight: 800;
}
    
}

/* hed end */


/* scroll start  */

.scroll{
    grid-area: scroll;
    background-color: var(--main-white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
}
.scroll::-webkit-scrollbar{
max-height: 10px;
}
.card{
    min-width: 220px;
    height:250px;
    border-radius: 20px;
    background-color: var(--main-white);
    box-shadow: 10px 10px 10px rgba(183, 180, 184, 0.392);
    overflow: hidden;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.card-img{
    width: 100%;
    height: 65%;
    margin-bottom:0;
    align-self: flex-start;
    justify-self: flex-start;
    padding: 0;
}
.card img{
    object-fit: cover;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.card .ca{
    position: absolute;
    top: calc(100% - 65px);
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px; ;
    box-shadow: 0px 0px 3px rgba(156, 154, 154, 0.395);
}
.card .ca a{
color: var(--main-white);
font-size: 1rem;
text-align: center;
line-height: 2rem;
font-family: zain;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;
width: 170px;
height: 60px;
margin: 1rem;
}
.snap-btn{
    background-color: rgb(255, 242, 0);
}
.whats-btn{
    background-color:darkcyan;
}
.tiktok-btn{
    background-color:rgb(19,84,122);

}
.google-btn{
   background-color:rgb(61, 152, 255);
}
/* responsiveness */
@media screen and (min-width:1200px){
    .hawia{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    ;
}

.card{
    min-width: 300px;
    height:330px;
 
}
}
/* scroll end */

/* foter start  */

.foter{
    grid-area: foter;
    background-color:var(--main-white);
    position:relative;
}

.foter img{
    max-width: 80px;
    max-height: 80px;
}
.installment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.insurance{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.im{
    min-width: 30%;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in{
    min-width: 70%;
    min-width: 70%;
    text-align: center;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}






.brans{
    position: absolute;
    bottom: 39%;
    left: 0;
    width: 100%;
    height:100px;
    background-color:rgb(61, 152, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--main-black);
    box-shadow: 0px 0px 100px rgb(61, 152, 255) inset;
    overflow-x: hidden;
}
.horizon-animation{
width: 100%;
height: 100%;
}
.last{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-white);
    width: 150px;
    height: 100%;
    animation: node 30s infinite linear;
    animation-delay: calc(((30s / var(--quantity--)) * (var(--position--) + 1)) * -1);
    font-size: 1rem;
    font-weight: 900;
     font-family: zain;
  font-style: normal;
}
@keyframes node {
    from{
    
     left:100%;
    }to{
        left:calc(var(--animate-width--)* -1 - 100%) ;
    }
}

/* responsiveness */
@media screen and (min-width:1200px){
    .hawia{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
    
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    ;
}
.foter{
    margin-top: 100px;
}

.foter img{
    max-width: 120px;
    max-height: 120px;
}
.installment{
    margin-top: 50px;
}
.insurance{ 
}
.im{
    min-width: 50%;
    max-width: 50%;
}
.in{
    min-width: 50%;
    min-width: 50%;
    font-size: 1.5rem;
    font-weight: 800;
}
.brans{
    margin-top: 100px;
    height: 150px;
}
.last{
    animation: node 50s infinite linear;
    animation-delay: calc(((50s / var(--quantity--)) * (var(--position--) + 1)) * -1);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}
}

.authentication{
    position: absolute;
    bottom: 0%;
    padding-top: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 280px;
    

}
.authentication img{
transform: scale(.7);
}
.auth-platform{
min-height: 150px;
max-height: 150px;
display: flex;
align-items: center;
font-size: .8rem;
font-weight:800;
}
.textl{
min-width: 60%;
display: flex;
align-items: center;
justify-content: center;
}
.icon{
min-width: 30%;
display: flex;
align-items: center;
justify-content: center;
}
.auth-flex{
min-height: 75px;
max-height: 75px;
display: flex;
align-items: center;
justify-content: space-around;
}
.auth-flex{
transform: scale(.9);
}
.auth-rights{
min-height: 75px;
max-height: 75px;
display: flex;
align-items: center;
justify-content: space-around;
font-size: .7rem;
}

@media screen  and (min-width:1200px){
     .hawia{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
    
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "hed hed hed"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "scroll scroll scroll"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    "foter foter foter"
    ;
    .brans{
    position: absolute;
    bottom:40%;
}
.foter{
position: relative;
}
    .authentication{
    width: 100%;
    min-height: 400px;
    margin-top: 300px;
    flex-direction: column;
}
.authentication img{
transform: scale(.9);
}
.auth-platform{
min-height: 250px;
max-height: 250px;
display: flex;
align-items: center;
font-size: 1.2rem;
font-weight:800;
}
.textl{
min-width: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.icon{
min-width: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.auth-flex{
min-height: 150px;
max-height:150px;
display: flex;
align-items: center;
justify-content: space-around;
}
.auth-flex{
transform: scale(.9);
}
.auth-rights{
min-height: 75px;
max-height: 75px;
display: flex;
align-items: center;
justify-content: space-around;
font-size: .7rem;
}
}
}
